<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des enchères</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Enchères</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Points de courbe</a>&nbsp;|&nbsp;
			<a href="/rating/list">Notations</a>&nbsp;|&nbsp;
			<a href="/trade/list">Transactions</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Règles</a>
		</div>
		<div class="col-6 text-right">
			Utilisateur connecté: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Se déconnecter"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Liste des enchères</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Ajouter</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Compte</th>
					<th>Type</th>
					<th>Quantité d'enchère</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bidList : ${bidLists}">
					<td style="width: 10%" th:text="${bidList.id}"></td>
					<td th:text="${bidList.account}"></td>
					<td th:text="${bidList.type}"></td>
					<td th:text="${bidList.bidQuantity}"></td>
					<td style="width: 20%" class="text-center">
						<a th:href="@{/bidList/update/{id}(id=${bidList.id})}">Modifier</a>&nbsp;|&nbsp;
						<form th:action="@{/bidList/delete/{id}(id=${bidList.id})}" method="post" style="display:inline">
							<button type="submit" class="btn btn-link p-0 align-baseline">Supprimer</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>