<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="utf-8"/>
<title>Utilisateurs</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Accueil</a>&nbsp;|&nbsp;<a href="/login">Connexion</a>
		</div>
	</div>
	<div class="row"><h2>Liste des utilisateurs</h2></div>
	<div class="row">
		<a href="/user/add" class="btn btn-primary btn-sm">Ajouter</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom complet</th>
					<th>Nom d'utilisateur</th>
					<th>Rôle</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td style="width: 10%" th:text="${user.id}"></td>
					<td th:text="${user.fullname}"></td>
					<td th:text="${user.username}"></td>
					<td style="width: 25%" th:text="${user.role}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/user/update/{id}(id=${user.id})}">Modifier</a>&nbsp;|&nbsp;
						<form th:action="@{/user/delete/{id}(id=${user.id})}" method="post" style="display:inline">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<button type="submit" class="btn btn-link p-0 align-baseline">Supprimer</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>