<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Ajouter un utilisateur</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container" sec:authorize="hasRole('ADMIN')">

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 text-right">
            <a href="/">Accueil</a>&nbsp;|&nbsp;<a href="/login">Connexion</a>
        </div>
    </div>

    <div class="row">
        <h2>Ajouter un utilisateur</h2>
    </div>

    <div class="row">
        <form th:action="@{/user/validate}" th:object="${user}" method="post" class="form-horizontal" style="width: 100%">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div class="form-group mb-3">
                <label for="fullname" class="col-sm-2 control-label">Nom complet</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{fullname}" id="fullname" placeholder="Nom complet" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="username" class="col-sm-2 control-label">Nom d'utilisateur</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{username}" id="username" placeholder="Nom d'utilisateur" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="password" class="col-sm-2 control-label">Mot de passe</label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{password}" id="password" placeholder="Mot de passe" class="col-4" autocomplete="new-password">
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="col-sm-2 control-label">Rôle</label>
                <div class="col-sm-10">
                    <input type="radio" id="roleAdmin" th:field="*{role}" th:value="ADMIN">
                    <label for="roleAdmin" class="checkbox-inline">Administrateur</label>
                    <input type="radio" id="roleUser" th:field="*{role}" th:value="USER">
                    <label for="roleUser" class="checkbox-inline">Utilisateur</label>
                    <p class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/user/list">Annuler</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Créer l’utilisateur">
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>